.admin-page {
    display: flex;
}

.sidebar-admin {
    width: 200px;
    min-height: 100vh;
    padding: 20px;
    background: #FBDB6A;
    margin-right: 30px;
}

.main-content-admin {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
}