.ListOption {
    width: 100%;
}

.ListSelect {
    width: 120px; margin: 20px 10px 20px; padding: 5px 20px 5px;
}

#ListFilter {
    border: none; float: right;
}

.ListBox {
    width: 65%; height:fit-content; margin: 20px auto; padding: 5px 5px 5px;
    background-color: #ffffff; box-shadow: 0px 0px 5px #cfcfcf;
    border-radius: 20px;
}

.ListBox:hover {
    box-shadow: 0px 0px 5px #bababa;
}

.ListText {
    color: black; width: 100%; height: 100%; font-size: 16px;
}

.ListText table {
    margin: 0 auto; text-align: center; 
}

.ListText td {
    padding: 0 10px 0 10px;
}

.ListJobTag {
    background-color: rgb(77, 77, 77); color: #ffffff;
    font-size: 14px; border-radius: 20px;
    text-align: center; padding: 7px; margin: 10px;
}

.ListPossible {
    background-color: #FBDB6A; border-radius: 20px;  color: #464646;
    text-align: center; padding: 7px; margin: 10px; font-size: 14px;
}

.ListBar { color:#cfcfcf; }

.ListIntro {
    color: black; font-weight: bold; font-size: larger;
}