#event_show {
  width: 1000px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  
}

#event_show h3 {
  font-weight: 600;
}

#event_show .slick-slide {
  width: 500px;
  height: auto;
  box-sizing: border-box;
  padding: 0 25px;
}

#event_show:hover #arrow_right,
#event_show:hover #arrow_left {
  display: block;
}

#event_show .slick-slider {
  margin: 0 auto;
  /* position: relative; */
  width: 500px;
  height: 400px;
  box-sizing: border-box;
  /* overflow: hidden;  */
}

#event_show .slick-slide img {
  margin: 0 auto;
  object-fit: cover;
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}

#event_show .tstext {
  position: absolute;
  width: 350px;
  height: 100px;
  bottom: 7px;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-size: 50px;
  font-weight: 600;
}

#event_show a:link {
  color: black;
  text-decoration: none;
}


#event_show a:hover {
  color: black;
  text-decoration: none;
}

#event_show .tstext p {
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 50px;
  font-weight: 600;
}

#event_show .slick-prev::before,
#event_show .slick-next::before {
  opacity: 1;
  display: flex;
  cursor: pointer;
}

#event_show #arrow_left {
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: left;
  background-size: auto;
  z-index: 0;
}

#event_show #arrow_right {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.scrolling-image {
  position: fixed;
  right:50px;
  bottom:50px;
  width:50px;
  height: 50px;
  z-index: 9999;
  background-size: cover;
}

.scrolling-image img {
  width: 70px;
  height: 70px;
}
